* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background-color: #000;
  background-image: url("../img/me/me-1440.jpg");
  background-size: cover;
  background-position: center;
  /*
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #ddc371;
}

/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: #ddc371;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu.open a:hover {
  color: #ddc371;
}

.open a:hover {
  color: #ddc371;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* HERO */
section#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

#hero h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #ddc371;
}

#hero p a{
  text-decoration: underline;
  color: #ddc371;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/*======================*/
/*        CONTACT       */
/*======================*/

body.contact {
  background: #000;
}

/*======================*/
/*       PORTFOLIO      */
/*======================*/

body.portfolio{
  background:#000;
  /*background: #ffffff;*/

  section a{
    color:#ddc371;
  }
}

header.pages {
  /*background: #000000;*/
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.portfolio-section {
  margin-bottom: 40px;
}

.portfolio-section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ddc371;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  display: block;
  text-align: center;
  position: relative; /* Added to position overlay text */
}

.overlay {
  position: relative; /* Container for the image and text */
}

.item img {
  width: 100%;
  height: auto;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.item img:hover {
  transform: scale(1.05);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 /* color: white;*/
  color: #ddc371;
  font-size: 2em;
  font-weight: bold;
  /*background-color: rgba(0, 0, 0, 0.5); /* Optional background for better visibility */
  padding: 10px;
  
}

/* Responsive Design */
@media (max-width: 1200px) {
  .item {
      flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .items {
      flex-direction: column;
      align-items: center;
  }

  .item {
      flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .container {
      width: 95%;
      padding: 10px;
  }

  .portfolio-section h2 {
      font-size: 20px;
  }

  .items {
      gap: 10px;
  }

  .item img {
      border-radius: 4px;
  }
}


/*main.grid {
  display: grid;
  grid-template-columns: repeat(6, [col-] 1fr);
  grid-template-rows: auto;
  margin: auto;
  gap: 20px;
  border: 1px solid #ddc371;
  padding: 20px;
}

#web {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

#database {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

#programming {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

#softskills {
  grid-column: 1 / 7;
  grid-row: 4 / 5;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

#writing {
  grid-column: 1 / 7;
  grid-row: 5 / 6;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}*/
/* Responsive Images */

/*div.container {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

div.title {
  position: absolute;
  top: 50%;
  left: 50%;
}

div.container img{
  height: 400px;
  width: 600px;
  transition: transform .4s ease;
}

div.container img:hover {
  -ms-transfrom: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}*/